<?php
//echo 'stat';  exit;
?>
<?php echo $header; ?>
<div class="box">
  <div class="center"></div>
  <div class="heading">
    <h1 style="background-image: url('view/image/home.png');">
      Today : <?php echo date('Y-m-d'); ?>
    </h1>
    <div class="buttons">
      <!--a class="button btn_insert"><span>set Goal</span></a-->
    </div>
  </div>
  <style>
  .content table td{
    text-align:center;  height:20px;
  }
  </style>
  <div class="content">
    <table border='1' style='width:800px;'>
      <?php
      //$this->log->aPrint( $target );
      $year = '2012';
      for($i='0';$i<=13;$i++){
        $month_total = 0;
        if( $i < 10 && $i > 0 ) $i = '0' . $i;
      ?>
      <tr>
        <?php
        $month = $year . $i;
        if( $i == 0 || $i == 13 ){
          echo '<td></td>';
        }else{
          echo '<td>' . $month . '</td>';
        }
        foreach($rep as $row){
          if( $i == 0 ){
            echo '<td>' . $row['username'] . '</td>';
          }else if($i == 13){
            if( isset($aRepTotal[$row['username']]) ){
              echo '<td style="background-color:#e2e2e2;">' . $this->util->formatMoney($aRepTotal[$row['username']]) . '</td>';
            }else{
              echo '<td>0</td>';
            }
          }else{
            if( isset($target[$month][$row['username']]) ){
              $tgt = $target[$month][$row['username']];
              $month_total += $tgt;
              if( !isset($aRepTotal[$row['username']]) ){
                $aRepTotal[$row['username']] = $tgt;
              }else{
                $aRepTotal[$row['username']] += $tgt;
              }
              echo '<td><input type=text name=tgt value=' . $tgt . ' size=6 rep='. $row['username'] .' month=' . $month . ' /></td>';
            }else{
              echo '<td><input type=text name=tgt value=0 size=6 rep='. $row['username'] . ' month=' . $month . ' /></td>';
            }
          }
        }
        if( $i != 0 ) echo '<td style="background-color:#e2e2e2;">' . $this->util->formatMoney($month_total) . '</td>';
        ?>
      </tr>
      <?php } // month for   ?>
    </table>
  </div>
</div>
<style>
#detail{
  position:absolute;  top:100px;  left:200px; visibility:hidden;
  border: 1px dotted green; background-color:white; z-index:99;
}
</style>
<div id='detail'></div>
<script type="text/javascript">
<?php
if($this->user->isManager($this->user->getUsername())){
?>
  $('input[name="tgt"]')
  .bind('click',function(event){
    $(event.target).select();
  })
  .bind('keydown',function(event){
    if( event.keyCode == '13' ){
      //alert('todo. update target'); return;
      $tgt = $(event.target);
      $month = $tgt.attr('month');
      $rep = $tgt.attr('rep');
      $target = $tgt.val();
      //alert($month + ':::' + $rep); return;
      //if( $target == 0 ) alert('Over 0'); return;
      $.ajax({
        type:'get',
        url:'/sales/stat/updateTarget',
        dataType:'html',
        data:'rep=' + $rep + '&month=' + $month + '&target=' + $target,
        success:function(response){
          if( 'true' == response ){
            $p = $tgt.position();
            $imgCss = {
              'visibility':'visible',
              'width':'150px','height':'20px',
              'top':$p.top-10,'left':$p.left-30,
              'background-color':'black',
              'color':'white','text-align':'center'
            }
            $('#detail').css($imgCss);
            $('#detail').html('success');
          }
          window.location.reload();
        }
      });
    }
  });
<?php
}
?>
</script>
<?php echo $footer; ?>
