.content{
  height:800px; width: 920px;
}
#storeList{
  width:200px;  height:800px; float:left;
}
#storeList table tr td{
  padding:5px;  font-size:14px; font-weight:bold;
}
#storeMain{
  width:720px;  height:800px; float:left;
}
#storePay{
  margin-bottom:12px;
}
#storeHistory{
  width:100%; height:600px; clear:left; margin-top:10px;
}
#account_history{
  width:700px;
}