<?php echo $header; ?>
<div class="box">
  
  
  <div class="heading">
    <h1 style="background-image: url('view/image/report.png');">AROO Board</h1>
    <div class="buttons" style="padding-right:80px">
    </div>
  </div>
  <div class="content">
    <iframe src='' style='width:975px;height:1420px;border:none;'></iframe>
  </div>
</div>
<?php echo $footer; ?>
