.ui-field-contain {
	border-bottom: none;
}

/* ATC */
.ui-filter-inset {
    margin-top: 0;
}

.atc-list{
	cursor: pointer;
}

#error {
	text-align: center;
	background-color: #FFFFCC;
	color: #CC33FF;
	font-size: 18px;
	display: none;
}

.ui-input-search {
	margin-left:10px;
	margin-right:10px;
}