<?php echo $header; ?>
	<!-- component source -->
	<form id="login-form" action="<?php echo $lnk_action; ?>" method="post" data-ajax="false">
		<div data-role="content"  data-theme="d">
			<li data-role="fieldcontain">
				<label for="username">username :</label>
				<input type="text" name="username" />
			</li>
			<li data-role="fieldcontain">
				<label for="password">password :</label>
				<input type="password" name="password" />
			</li>
		</div>
		<input type="submit" id="login-submit" value="Login">
	</form>

<?php echo $footer; ?>